*
!.gitignore
!aspiration-img.webp
!banner.webp
!banner-2.webp
!banner-3.webp
!banner-4.webp
!caleg-1.webp
!caleg-2.webp
!caleg-3.webp
!caleg-4.webp
!caleg-5.webp
!logo-black.webp
!logo-white.webp
!seo-cover.png
