*
!.gitignore
!305.png
!Angsana.png
!Baros.png
!Embudu.png
!Huvafen_Fushi.png
!Niyama logo.webp
!OBLU-NATURE-Helengeli.jpg
!Radisson_Blu_logo.svg.png
!Rove Al Marjan Island Hotel.png
!sofitel-fiji-logo.png
!ULA Logo.png
!Velaa.png
!Waldorf Astoria Seychelles.png
!Containers.jpg
!Experts.jpg
!Factory.jpg
!logo-svlk.png
!AAK_4052.jpg
!AAK_4362.jpg
!AAK_5650.jpg
!service-1.png
!AAK_4383.jpg
!cover-compro.jpg
!OSV Company Profile-2024 (Digital).pdf
!banner
!product
!videoplayback2.mp4
!OSV-Bespoke-Project.jpg
!OSV-Luxury-Furniture.jpg
!OSV-OEM-Product.jpg
!section-furniture-factory.png
!AAK_4061.jpg
!product-1.jpg
!AAK_4392.jpg
!AAK_4406.jpg
!manufacture_guideline.png
!manufacture_material.png
!manufacture_thumbnail.png
!product_img1.jpg
!product_img2.jpg
!product_img3.jpeg
!product_img4.jpeg
!project_top_img1.JPG
!project_top_img2.png
!project_top_img3.avif
!project_thumbnail1.jpg
!project_thumbnail2.JPG
!project_side_img1.JPG
!project_side_img2.JPG
!project_side_img3.JPG
!project_side_img4.JPG