// MODULES

// Section
section {
    position: relative;
    padding: 60px 0;
    z-index: 98;

    &.banner {
        padding-top: 0;

        a {
            font-size: 2.5rem;
            font-weight: $font-weight-light;
            text-transform: uppercase;
            color: $secondary-color;
            position: relative;

            &:hover,
            &:focus {
                color: $primary-color;
                transition: 0.3s;

                &::after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                border-radius: 5px;
                height: 0.05em;
                bottom: 0;
                left: 0;
                background: currentcolor;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
            }
        }

        h3 {
            font-weight: $font-weight-bold;
            max-width: 85%;
        }
    }

    &.home-video {}

    &.services {
        h2 {
            color: $secondary-color;
        }
    }

    &.introduction {
        h2 {
            color: $secondary-color;
        }

        img {
            border-radius: 24px;
        }
    }

    &.highlights {
        z-index: -1;
        padding-bottom: 0;

        video {
            position: fixed;
            inset: 0;
            object-fit: cover;
            width: 100%;
            height: 100vh;
            z-index: -1;
            filter: saturate(0.1) brightness(0.5);
            opacity: 0;
            animation: fade-in both linear, fade-out both linear;
            animation-timeline: --section;
            animation-range: entry 10% entry 15%, exit 10% exit 15%;
            z-index: -1;
        }
        
        section {
            position: relative;
            min-height: 60vh;
            display: grid;
            place-items: center;
            view-timeline: --section;
        }
        
        section:nth-of-type(1) {
            height: 60vh;
        }
        
        section:nth-of-type(2) {
            height: 120vh;
        }
        
        section:nth-of-type(3) {
            height: 30vh;
            position: relative;
            background-image: url('/public/img/AAK_4059.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;

            &::before {
                position: absolute;
                content: '';
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background-color: rgba(201,145,121, 0.25);
                z-index: -1;

                footer {
                    position: relative;
                    z-index: 1;

                    span {
                        color: $white !important;
                    }
                }
            }
        }
        
        :is(h1, h2) {
            font-size: clamp(2.5rem, 7vw + 1rem, 10rem);
            text-align: center;
            line-height: 1;
            position: fixed;
            top: 50%;
            left: 50%;
            margin: 0;
            translate: -50% -50%;
            width: 100%;
        }
        
        p span {
            opacity: 0.15;
            animation: highlight both ease-in-out;
            animation-timeline: view();
        }
        
        p span:nth-of-type(1) {
            animation-range: cover 10% cover 45%;
        }

        p span:nth-of-type(2) {
            animation-range: cover 30% cover 60%;
        }

        p span:nth-of-type(3) {
            animation-range: cover 45% cover 85%;
        }

        p span:nth-of-type(4) {
            animation-range: cover 75% cover 100%;
        }

        h1 {
            display: grid;
        }
        
        h1 span:first-of-type {
            display: inline-block;
            animation: fade-away both linear;
            animation-timeline: --section;
            animation-range: exit 20% exit 90%;
        }
        
        h1 span:last-of-type {
            display: inline-block;
            animation: scale-up both cubic-bezier(.1,.7,.9,1.3), fade-away both linear;
            animation-timeline: --section;
            animation-range: exit 0% exit 100%, exit 50% exit 90%;	
        }

        h1 span:first-of-type {
            color: $font-color;
        }
        
        h2 {
            animation: grow both ease-in, fade-away both linear;
            animation-timeline: --section;
            animation-range: exit-crossing -10% exit-crossing 10%, exit 0% exit 50%;
        }
        
        h2 {
            font-size: clamp(2rem, 5vw + 1rem, 4rem);
            text-align: center;
            color: $font-color;
        }
        
        p {
            font-size: clamp(1.625rem, 3vw + 1rem, 6rem);
            font-weight: $font-weight-light;
            letter-spacing: 0;
            line-height: 1;
            color: $font-color;
        }
        
        .section__content {
            width: 800px;
            max-width: 100vw;
            padding: 0 1rem;
        }
        
        footer {
            display: grid;
            place-items: start;
            text-align: left;
            font-size: clamp(1.625rem, 3vw + 1rem, 6rem);
            color: $white;
        }
        
        footer span:first-of-type {
            font-size: 2rem;
        }

        @keyframes highlight {
            50% {
                opacity: 1;
            }
        }

        @keyframes scale-up {
            to {
                scale: 1.5;
            }
        }

        @keyframes grow {
            0% {
                scale: 0.5;
                opacity: 0;
            }
        }
        
        @keyframes fade-away {
            100% {
                opacity: 0;
            }
        }

        @keyframes fade-in {
            to {
                opacity: 0.2;
            }
        }
        
        @keyframes fade-out {
            to {
                opacity: 0;
            }
        }
    }

    &.clients {
        background-color: $white;

        h2 {
            color: $secondary-color;
        }
    }

    &.cta {
        background-color: $white;
        background-image: url('/public/img/bg-cta.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 120px 0;

        h2 {
            color: $white;
            font-weight: $font-weight-bold;
        }

        p {
            font-size: 2rem;
            color: $white;
        }
    }
}

@media screen and (max-width: $bp-lg) {
    section {
        &.highlights {
            :is(h1, h2) {
                font-size: clamp(2.5rem, 7vw + 1rem, 8.25rem);
            }
            
            h2 {
                font-size: clamp(2rem, 5vw + 1rem, 4rem);
            }
            
            p {
                font-size: clamp(1.625rem, 3vw + 1rem, 5rem);
            }
            
            .section__content {
                width: 600px;
                padding: 0;
            }
            
            footer {
                font-size: clamp(1.625rem, 3vw + 1rem, 5rem);
            }
            
            footer span:first-of-type {
                font-size: 1.25rem;
            }
        }
    }
}

@media screen and (max-width: $bp-md) {
    section {
        &.banner {
            a {
                font-size: 2rem;
            }
        }

        &.highlights {
            :is(h1, h2) {
                font-size: clamp(2.25rem, 7vw + 1rem, 6rem);
            }
            
            h2 {
                font-size: clamp(1.75rem, 5vw + 1rem, 3.75rem);
            }
            
            p {
                font-size: clamp(1.5rem, 3vw + 1rem, 4.5rem);
            }
            
            .section__content {
                width: 600px;
                padding: 0;
            }
            
            footer {
                font-size: clamp(1.5rem, 3vw + 1rem, 4.5rem);
            }
            
            footer span:first-of-type {
                font-size: 1.25rem;
            }
        }

        &.cta {
            padding: 100px 0;
    
            p {
                font-size: 1.5rem;
            }
        }
    }
}

@media screen and (max-width: $bp-sm) {
    section {
        padding: 40px 0;

        &.banner {
            a {
                font-size: 1.5rem;
            }
        }

        &.highlights {
            :is(h1, h2) {
                font-size: clamp(1.75rem, 7vw + 1rem, 4.5rem);
            }
            
            h2 {
                font-size: clamp(1.75rem, 5vw + 1rem, 3rem);
            }
            
            p {
                font-size: clamp(1.25rem, 3vw + 1rem, 2.5rem);
            }
            
            .section__content {
                width: 450px;
                padding: 0;
            }
            
            footer {
                font-size: clamp(1.25rem, 3vw + 1rem, 2.5rem);
            }
            
            footer span:first-of-type {
                font-size: 1rem;
            }
        }

        &.cta {
            padding: 60px 0;
    
            p {
                font-size: 1rem;
            }
        }
    }
}


// Cursor
.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 9999;
    pointer-events: none;

    div {
        position: absolute;
        display: grid;
        place-items: center;

        div {
            border: 1px solid $white;
            border-radius: 50%;
            animation: pulse 2.5s linear infinite;
            box-shadow: 0 0 50px 5px $tertiary-color;
        }

        &:nth-child(1),
        &:nth-child(2) {
            width: 100%;
            height: 100%;
        }

        &:nth-child(1) {
            transition: transform 0.2s ease-out;
        }

        &:nth-child(2) {
            transition: transform 0.1s ease-out;

            div {
                background: $white;
                border-radius: 50%;
                width: 4px;
                height: 4px;
            }
        }
    }
}

@media screen and (max-width: $bp-sm) {
    .cursor {
        width: 1.5rem;
        height: 1.5rem;
    }
}



// Banner
.banner {
    position: relative;

    &__thumb {
        overflow: hidden;
        border-radius: 24px;
        height: 600px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 24px;
        }
    }

    &__content {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        padding: 40px;

        h3 {
            color: $white;
            font-weight: $font-weight-bold;
        }
    }
}

@media screen and (max-width: $bp-lg) {
    .banner {
        &__thumb {
            height: 500px;
        }
    
        &__content {
            padding: 40px;
        }
    }
}

@media screen and (max-width: $bp-md) {
    .banner {
        &__thumb {
            height: 400px;
        }
    
        &__content {
            padding: 40px 20px;
        }
    }
}

@media screen and (max-width: $bp-sm) {
    .banner {
        &__thumb {
            height: 280px;
        }
    
        &__content {
            padding: 20px 15px;
        }
    }
}



// Animation
@keyframes slideInDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOutDown {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

.slideInDown {
    animation: slideInDown 0.75s ease-in-out forwards;
}

.slideOutDown {
    animation: slideOutDown 0.75s ease-in-out forwards;
}



// Buttons
.btn {
    &--primary {
        background-color: $primary-color;
        position: relative;
        border: 0;
        padding: 12px 32px;
        border-radius: 50px;
        border: none;
        font-size: 1.25rem;
        font-weight: $font-weight-light;
        color: $white;
        cursor: pointer;
        outline: none;
        // box-shadow: 0 10px 30px rgba(255,255,255, 0.5);
        transition: transform .1s linear,
            color .1s linear,
            background .15s linear;
        cursor: none;

        >span {
            display: inline-block;
            position: relative;
            z-index: 2;
            font-weight: $font-weight-light;
            transition: transform .15s linear;
        }

        &.fill {
            border: 0;
            color: $white;
            background-color: $primary-color;
        }

        &:hover,
        &:focus {
            &.fill {
                background-color: $secondary-color;
            }
        }
    }

    &--secondary {
        background-color: $secondary-color;
        font-size: 1.25rem;
        font-weight: $font-weight-light;
        color: $white;
        padding: 12px 32px;
        border-radius: 50px;
        border: none;

        &:hover,
        &:focus {
            background-color: $primary-color;
            transition: 0.3s;
        }
    }
}

[cursor="link"] {
    &:hover {
        ~.cursor-btn {
            mix-blend-mode: difference;
            transform: scale(1.5);
            cursor: none;
            background: #fff;
            border-color: #fff;
        }
    }
}

@media screen and (max-width: $bp-sm) {
    .btn {
        &--primary {
            padding: 8px 24px;
            font-size: 1rem;
        }

        &--secondary {
            padding: 8px 24px;
            font-size: 1rem;
        }
    }
}



// Cards
.card-animate {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0;
    height: 500px;
    width: 100%;
    background: $primary-color;
    text-align: center;
    cursor: pointer;
    border-radius: 24px;
}

.card-animate img {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0.75;
    object-fit: cover;
    object-position: center;
    border-radius: 24px;
}

.card-animate figcaption {
    padding: 20px;
    color: $white;
    text-transform: uppercase;
    font-size: 2rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-animate figcaption::before,
.card-animate figcaption::after {
    pointer-events: none;
}

.card-animate figcaption,
.card-animate figcaption>a {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-animate figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.card-animate h3 {
    color: $white;
    word-spacing: -0.15em;
    font-size: 2rem;
    font-weight: $font-weight-light;
}

.card-animate p {
    font-weight: $font-weight-light;
    border-radius: 24px;
}

.card-animate.card--service {
    background: -webkit-linear-gradient(-45deg, #C99165 0%, #563627 100%);
    background: linear-gradient(-45deg, #C99165 0%, #563627 100%);

    img,
    p {
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
    }

    &:hover img {
        opacity: 0.3;
        -webkit-transform: scale3d(1.5, 1.5, 1);
        transform: scale3d(1.5, 1.5, 1);
    }

    h3 {
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    p {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 20px;
        padding: 30px;
        border: 2px solid $white;
        text-transform: none;
        font-size: 1rem;
        opacity: 0;
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
        -webkit-transform-origin: 50% -100%;
        transform-origin: 50% -100%;
    }

    &:hover h3,
    &:hover p {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@media screen and (max-width: $bp-md) {
    .card-animate {
        display: inline-block;
        float: none;
        margin: 10px auto;
        width: 100%;
    }
}

@media screen and (max-width: $bp-md) {
    .card-animate {
        height: 460px;
    }

    .card-animate figcaption {
        font-size: 1.25rem;
        padding: 20px;
    }

    .card-animate h3 {
        font-size: 1.75rem;
    }

    .card-animate p {
        font-size: 1rem;
    }
}

@media screen and (max-width: $bp-sm) {
    .card-animate {
        height: 360px;
    }

    .card-animate figcaption {
        font-size: 0.875rem;
        padding: 20px 15px;
    }

    .card-animate h3 {
        font-size: 1.5rem;
    }

    .card-animate p {
        font-size: 0.75rem;
    }
}



// Tiles
.tile {
    &--client-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;

        img {
            object-fit: contain;
            object-position: center;
            width: 100%;
            height: auto;
        }
    }
}




// Reveal Animtation
body:not(.no-js) .image-wrap {
    transition: 1s ease-out;
    transition-delay: 0.2s;
    position: relative;
    width: auto;
    height: 80vh;
    overflow: hidden;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    visibility: hidden;
}

body:not(.no-js) .image-wrap img {
    transform: scale(1.3);
    transition: 2s ease-out;
}

body:not(.no-js) .animating .image-wrap {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    visibility: visible;
    transform: skewY(0);
}

body:not(.no-js) .animating img {
    transform: scale(1);
    transition: 2s ease-out;
}

body:not(.no-js) .fadeup {
    opacity: 0;
    transition: 0.2s ease-out;
    transform: translateY(40px);
}

body:not(.no-js) .fading-up {
    opacity: 1;
    transition: 1s ease-out;
    transform: translateY(0px);
    transition-delay: 0.7s;
}

.tagline ul {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 0;
}

.tagline ul li {
    display: flex;
    overflow: hidden;
    margin-bottom: 0.5rem;
}

.tagline ul li span {
    display: block;
    line-height: 54px;
    font-size: 3.5rem;
    font-weight: $font-weight-light;
    text-transform: uppercase;
    transform: translateY(200%);
}

.tagline ul li span.active {
    transform: translateY(0%);
    transition: 3s ease-out;
}

.tagline ul li:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: $bp-lg) {

}

@media screen and (max-width: $bp-md) {

}

@media screen and (max-width: $bp-sm) {

}



/* Pre Loader */
#app {
    opacity: 0;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 1;
}

#preloader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    background-color: $white;
    overflow: hidden;
}

#preloader > .icon {
    position: absolute;
    width: 300px;
    // -webkit-animation: wink 1s ease-in-out infinite alternate;
    //         animation: wink 1s ease-in-out infinite alternate;
}

// @media only screen and (min-width: $bp-sm) {
//     #preloader > .icon {
//         height: auto;
//         width: 300px;
//     }
// }

// @media only screen and (min-width: $bp-lg) {
//     #preloader > .icon {
//         height: auto;
//         width: 300px;
//     }
// }

@-webkit-keyframes rotation {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
    }
}

@-webkit-keyframes wink {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes wink {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@media screen and (max-width: $bp-sm) {
    #preloader > .icon {
        width: 200px;
    }
}
