// VARIABLES

// Colors
$primary-color: #C99165 !default;
$secondary-color: #563627 !default;
$tertiary-color: #E5E4E2 !default;
$white: #FFF !default;
$black: #181B20 !default;
$grey: #ECECEC !default;
$dark-grey: #C4C4C4 !default;
$font-color: #181B20 !default;
$link-color: #563627 !default;

// Typography
// @font-face {
//     font-family: "Switzer";
//     font-weight: normal;
//     font-style: normal;
//     src: url("/public/fonts/Switzer-Variable.ttf") format("ttf")
// }

// @font-face {
//     font-family: "Sentient";
//     font-weight: normal;
//     font-style: normal;
//     src: url("/public/fonts/Sentient-Variable.ttf") format("ttf")
// }

$font-family: 'Montserrat', sans-serif;
// $font-family-second: 'Sentient';
$font-weight-extrabold: 800 !default;
$font-weight-bold: 700 !default;
$font-weight-medium: 500 !default;
$font-weight-reg: 400 !default;
$font-weight-light: 300 !default;

// Breakpoints
$bp-xxs: 375px !default;
$bp-xs: 575px !default;
$bp-sm: 767px !default;
$bp-md: 992px !default;
$bp-lg: 1200px !default;
$bp-xl: 1366px !default;
$bp-xxl: 1440px !default;